<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Larger Navbar for larger pages -->
<div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #475C7B;">
    <a class="navbar-brand" href="#">
          <div class="logo-image">
                <img src="beepupper.png" width = "100px" height = "100px" alt = "bee pup"class="img-fluid">
          </div>
    </a>
    <!-- Logo and Image must be next to each other -->
    <a class="navbar-brand" href="/"><div class = "logo">BeePupper</div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" >
      <span class="navbar-toggler-icon"></span>
    </button>

      <!-- homepage -->
    <div class="collapse navbar-collapse" id="navbarColor01">
      <nav id="links">
        <div id="linkscont">
        <a href="/">Home</a>
        <a href="/">Recipes</a>
        <a href="/mylists">Shopping Lists</a>
        <a href="/tools">Tools</a>
        <a href="/about">About</a>
        <a href="https://rb.gy/jtfkvc">Special</a>
        <a href="/">Search</a>
      </nav>
    </div>
  </div>
  </nav>
</div>
