<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {margin:0;}

.icon-bar {
  width: 100%;
  background-color: #475C7B;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #475C7B;
}

.active {
  background-color: #475C7B;
}
</style>




<!-- Larger Navbar for larger pages -->
<div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #475C7B;">
    <a class="navbar-brand" href="#">
          <div class="logo-image">
                <img src="beepupper.png" width = "100px" height = "100px" alt = "bee pup"class="img-fluid">
          </div>
    </a>
    <!-- Logo and Image must be next to each other -->
    <a class="navbar-brand" href="/"><div class = "logo">BeePupper</div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <!-- homepage -->
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- to do list -->
        <li class="nav-item">
          <a class="nav-link" href="/recipes">Recipes</a>
        </li>
        <!-- shopping lists -->
        <li class="nav-item">
          <a class="nav-link"href="/mylists"><i class="fa fa-usd"></i> Shopping List</a>
        </li>
        <!-- calculator -->
        <li class="nav-item">
          <a class="nav-link" href="/salescalculator"><i class="fa fa-calculator"></i> Calculator</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
