body { 
  font-family: "Roboto", sans-serif;;
  margin: 0;
	background-color: rgb(227, 242, 252) !important;
  font-weight: 400;

}

header {

  text-align: center;
  width: 100%;
}

.banner {
  position: fixed;
  padding-top: 100px;
}

#top {
    position: sticky;
    height:80px;
    top:0;
    left:0;
    width:100%;
    z-index:9999999999;
    background: #475C7B;
    color: white;
    padding:0 15px;
}

#links a {
  line-height:60px;
  display:inline-block;
  text-transform:uppercase;
  position:relative;
  letter-spacing:1px;
  font-size:12px;
  margin:5px 12px;
  padding:5px 0;
  transition:0.5s ease-in-out;
}

#links a::before {
  content:"";
  bottom:20px;
  height:2px;
  background: white;
  position:absolute;
  display:block;
  left:0;
  width:0;
  transition:0.5s ease-in-out;
}

#links a:hover, #links a.active {color:white;}
#links a:hover::before, #links a.active::before {width:100%;}
#links span.pe {font-size:20px; display:block;}


footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  background: #475C7B;
  color: white;
  align-items: center;
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}

.maint {
height:20px;
padding:10px;
letter-spacing:0.2px;
text-transform:lowercase;
font:italic normal 16px/20px 'Source Sans Pro', sans-serif;
color: black;
}

.subt {
  color: black;
  text-transform:uppercase;
  font:normal 10px/15px 'Source Sans Pro', sans-serif;
  letter-spacing:0.5px;
  height:15px;
  padding:10px 0px;
}

header {
  text-align: center;
  width: 100%;
}

.hero-image {
  position: relative;
  width: 1170px;
  height: 400px;
  background: url(./header.png) no-repeat center;
  background-size: cover;
  margin: auto;
}

.container1 {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color:#003F5A;
  font-weight: 700;
  text-transform: uppercase;

}

.container h1{
  padding-top: 150px;
  font-size: 72px;
  letter-spacing: 0.2em;
  color: #003F5A;
  text-transform: uppercase;
  text-align: center;
}

.cont0 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.cont {
  text-align: center;
  padding-top: 50px;
  background-color: white;
  height: 1000px;
  width: 1170px;
}

/* .jumbotron {
  position: relative;
  width: 1170px;
  height: 400px;
  background: url(./header.png) no-repeat center;
  background-size: cover;
  margin: auto;
}

.h3 {
  color: green;
} */