{% extends 'base.html' %}
{% block content %}

{% include 'partials/navbar_b.html' %}

<center>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome</h1>
        <h2 class="lead">BeePupper is a community dedicated to cooking. We love food and the process it takes to get to the end goal which is, of course, food.</h2>
    </div>
    &nbsp;&nbsp;
    <div class="card" style="width: 65rem;">
        <div class="container">
        <h3 class="display-4">Features</h3>
        <h4 class="lead">Here is some information on what to expect.</h4>

        <div class="row">
            <div class="col-lg-4 my-auto mx-auto"></div>
        </div>
            <div class="col-lg-8 my-auto">
                <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">
                    <div class="feature-item">
                        <i class="fas fa-hamburger"style="font-size:48px"></i>
                        <h3>Recipes</h3>
                        <h5 class="text-black">Input Recipes that you want to share with others.</h5>
                    </div>
                    </div>
                    <div class="col-lg-6">
                    <div class="feature-item">
                        <i class="fa fa-shopping-cart"style="font-size:48px"></i>
                        <h3>Compile</h3>
                        <h5 class="text-black">Create a shopping list of what you will need.</h5>
                    </div>
                    </div>
                    <div class="col-lg-6">
                    <div class="feature-item">
                        <i class="fa fa-calculator"style="font-size:48px"></i>
                        <h3>Calculate</h3>
                        <h5 class="text-black">Calculate how much you will need to spend.</h5>
                        <a href = "https://www.youtube.com/watch?v=ygggcqKmUts"> Watch a tutorial for the calculator here.</a>
                    </div>
                    </div>
                    <div class="col-lg-6">
                    <div class="feature-item">
                        <i class="fa fa-check"style="font-size:48px"></i>
                        <h3>Free</h3>
                        <h5 class="text-black">It's free. What's not to love?</h5>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    &nbsp;&nbsp;
    <div class="card" style="width: 65rem;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="display-4 text-black">BeePupper Team</h3>
                </div>
            </div>
            <div class="row">
            <div class="col-md-4">
                <div class="team-member">
                <li class="fas fa-bullhorn"></li>
                <h4 class="text-black">Anjelica Ambrosio</h4>
                <p class="text-black">Project Manager, Backend Co-Lead</p>
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                    <a href="https://github.com/reikamoon"
                    target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    </li>
                    <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/anjelica-ambrosio/"
                    target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    </li>
                    <!-- <li class="list-inline-item">
                        <a href="https://github.com/reikamoon"
                        target="_blank">
                        <i class="fas fa-id-card"></i>
                        </a>
                    </li> -->
                </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <li class="fas fa-glasses"></li>
                    <h4 class="text-black">Padyn Riddell</h4>
                    <p class="text-black">Frontend, Backend Co-Lead</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                        <a href="https://github.com/squeaky1273"
                        target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                        </li>
                        <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/padyn-riddell-94473b18a/"
                        target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        </li>
                        <!-- <li class="list-inline-item">
                            <a href="https://www.makeschool.com/portfolio/Padyn-Riddell"
                        target="_blank">
                            <i class="fas fa-id-card"></i>
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <li class="fas fa-pen-fancy"></li>
                    <h4 class="text-black">Joanelly Cruz</h4>
                    <p class="text-black">Frontend Co-Lead</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                        <a href="https://github.com/HolyPi"
                        target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                        </li>
                        <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/joanelly-cruz-martinez-6572b919b/"
                        target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        </li>
                        <!-- <li class="list-inline-item">
                            <a href="https://github.com/HolyPi"
                            target="_blank">
                            <i class="fas fa-id-card"></i>
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="container">
            Links
            <center>
            <a href = "https://github.com/reikamoon/beepupper">GitHub Repository</a><br>
            <a href = "https://www.w3schools.com/howto/default.asp">Helpful HTML/JavaScript Resource</a><br>
            <a href = "https://fontawesome.com/icons?d=gallery">Icons by Font Awesome</a><br>
            <a href = "https://github.com/reikamoon/beepupper">Kitchen Timer by Jason Chan</a><br>
            <a href = "https://www.omnicalculator.com/finance/percent-off">Sales Calculator by omnicalculator</a><br>
            Inspired by: https://codepen.io/natewiley/pen/Ciwyn
            </center>
            </div>
        </div>
    </div>
</div>
</center>

{% endblock %}
