{% extends 'base.html' %}
{% block content %}

{% include 'partials/navbar_b.html' %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2 class="display-4">Features</h2>
      <p class="lead">Here is some info on what to expect.</p>

      <div class="row">
        <div class="col-lg-4 my-auto mx-auto">
          <div data-aos="fade-right" data-aos-duration="2000"></div>
        </div>
      </div>
        <div class="col-lg-8 my-auto">
          <div data-aos="fade-left" data-aos-duration="2000">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-people text-primary"></i>
                    <h3>Recipes</h3>
                    <p class="text-white">Input Recipes that you want to share with others.</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-heart text-primary"></i>
                    <h3>Compile</h3>
                    <p class="text-white">Create a shopping list of what you will need.</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-eye text-primary"></i>
                    <h3>Calculate</h3>
                    <p class="text-white">Calculate how much you will need to spend.</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">
                    <i class="icon-lock-open text-primary"></i>
                    <h3>Free</h3>
                    <p class="text-white">It's free. What's not to love?</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}