{% extends 'base.html' %}
{% block content %}

{% include 'partials/navbar_b.html' %}
<div class="hero-image">
    <!-- Inspired by: https://codepen.io/natewiley/pen/Ciwyn -->
    <div id="particle-container">
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
    </div>
<div class="container">
    <h1>BeePupper</h1>
    </div>
</div>
<div class="cont0">
    <div class="cont">
    <div class="maint">BeePupper</div>
        <div class="subt">Your cooking friend.</div>
</div></div>
</div></div>

{% endblock %}