{% extends 'base.html' %}
{% include 'partials/navbar.html' %}

{% block content %}
<div class="container">
<h1><a href="/Myrecipes/new">New Recipe?</a></h1>
{% for recipe in recipes %}
    <div class="row">
      <div class="col-sm">
      <div class="card h-100">

     <h5><a href= '/Myrecipes/{{ recipe._id }}'>{{ recipe.name }}</h5></a>
            <div class="card-body">
                <h4 class="card-title">
            <img src="{{ recipe.url }}" class="w3-round" width="500px" height="400px">
            <h6>Ingredients</h6>
            <div id="ing"><h4><a href= '/Myrecipes/{{ recipe._id }}'>{{ recipe.ingredients }}</h4></a></div>
        

        

</div>
</div>
</div>
</div>
</div>
{% endfor %}
{% endblock %}