{% extends 'base.html' %}

{% block content %}

{% include 'partials/navbar_b.html' %}

<center>
<form action='/results'>
    <div class="wrap">
      <div class="search">
        <input class="form-control mr-sm-2" type="search" name="user_input" placeholder="What Recipe are you looking for?" aria-label="Search">
        <button class="btn btn-warning" type="submit"> <img src="https://img.icons8.com/pastel-glyph/2x/search--v2.png" alt="" width="20" height="20"> </button>
      </div>
    </div>
</form>
</center>

{% endblock %}